<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="140.340.80" targetFramework="net452" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="PDFsharp-MigraDoc-GDI" version="1.32.4334.0" targetFramework="net452" />
  <package id="Stripe.net" version="22.8.1" targetFramework="net452" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net452" />
</packages>